@import 'tailwindcss';
/* @plugin '@tailwindcss/forms'; */

@theme {
  --color-primary-50: oklch(0.957 0.021 286.04);
  --color-primary-100: oklch(0.916 0.041 285.6);
  --color-primary-200: oklch(0.832 0.084 284.45);
  --color-primary-300: oklch(0.749 0.127 281.89);
  --color-primary-400: oklch(0.667 0.173 279.53);
  --color-primary-500: oklch(0.594 0.214 276.5);
  --color-primary-600: oklch(0.515 0.259 271.24);
  --color-primary-700: oklch(0.433 0.27 265.75);
  --color-primary-800: oklch(0.341 0.212 265.79);
  --color-primary-900: oklch(0.249 0.156 265.83);
  --color-primary-950: oklch(0.202 0.126 265.74);

  --color-secondary-50: oklch(0.974 0.004 286.63);
  --color-secondary-100: oklch(0.948 0.008 286.39);
  --color-secondary-200: oklch(0.889 0.015 286.17);
  --color-secondary-300: oklch(0.838 0.023 285.93);
  --color-secondary-400: oklch(0.786 0.031 285.7);
  --color-secondary-500: oklch(0.727 0.04 283.75);
  --color-secondary-600: oklch(0.675 0.048 285.05);
  --color-secondary-700: oklch(0.616 0.057 283.42);
  --color-secondary-800: oklch(0.564 0.063 283.1);
  --color-secondary-900: oklch(0.513 0.069 282.68);
  --color-secondary-950: oklch(0.482 0.072 282.38);

  --color-success-50: oklch(0.979 0.032 155.34);
  --color-success-100: oklch(0.968 0.049 154.28);
  --color-success-200: oklch(0.936 0.105 153.91);
  --color-success-300: oklch(0.892 0.19 153.67);
  --color-success-400: oklch(0.864 0.22 153.43);
  --color-success-500: oklch(0.838 0.214 153.38);
  --color-success-600: oklch(0.814 0.208 153.43);
  --color-success-700: oklch(0.787 0.2 153.59);
  --color-success-800: oklch(0.763 0.195 153.41);
  --color-success-900: oklch(0.73 0.186 153.38);
  --color-success-950: oklch(0.72 0.183 153.46);

  --color-info-50: oklch(0.982 0.01 219.47);
  --color-info-100: oklch(0.964 0.022 221.76);
  --color-info-200: oklch(0.937 0.04 220.48);
  --color-info-300: oklch(0.9 0.066 219.35);
  --color-info-400: oklch(0.863 0.096 216.88);
  --color-info-500: oklch(0.825 0.128 215.68);
  --color-info-600: oklch(0.799 0.124 215.78);
  --color-info-700: oklch(0.764 0.119 215.59);
  --color-info-800: oklch(0.732 0.113 215.26);
  --color-info-900: oklch(0.697 0.108 215.76);
  --color-info-950: oklch(0.685 0.106 215.38);

  --color-warning-50: oklch(0.992 0.007 80.67);
  --color-warning-100: oklch(0.982 0.014 74.42);
  --color-warning-200: oklch(0.966 0.029 77.54);
  --color-warning-300: oklch(0.94 0.054 79.66);
  --color-warning-400: oklch(0.923 0.072 80.28);
  --color-warning-500: oklch(0.907 0.093 82.5);
  --color-warning-600: oklch(0.889 0.116 83.77);
  --color-warning-700: oklch(0.873 0.143 86.08);
  --color-warning-800: oklch(0.846 0.173 88.08);
  --color-warning-900: oklch(0.83 0.17 87.96);
  --color-warning-950: oklch(0.823 0.168 88.15);

  --color-danger-50: oklch(0.976 0.012 17.51);
  --color-danger-100: oklch(0.952 0.024 17.65);
  --color-danger-200: oklch(0.911 0.046 18.06);
  --color-danger-300: oklch(0.863 0.074 18.71);
  --color-danger-400: oklch(0.823 0.099 19.42);
  --color-danger-500: oklch(0.774 0.133 20.58);
  --color-danger-600: oklch(0.727 0.169 22.18);
  --color-danger-700: oklch(0.688 0.201 24.06);
  --color-danger-800: oklch(0.642 0.244 27.69);
  --color-danger-900: oklch(0.59 0.242 29.23);
  --color-danger-950: oklch(0.567 0.233 29.23);
}
button {
  @apply cursor-pointer;
}
